<!DOCTYPE HTML>
<html >

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<style>
.footer{background:grey; margin:0 auto;margin-top:200px;width:1200px;height:100px;}
.text p{color:#fff;font-size:15px;margin-top:80px;margin-left:35%;}
</style>

</head>
<body>

<div class="container-fluid">
        <div class="row">
           <div class="footer">
                <div class="text">
                    <p> Spring Boot + Mustache CRUD Application by Ⓒ SwallowSoft</p>
                </div>
           </div>
        </div>
</div>

</body>
</html>
